In [369]:
import numpy as np
import pandas as pd

In [370]:
width = 600
height = 800

In [371]:
with open("../../smu_vis_of_info/workspace/Sketch_002_portrait_curves/curves.txt","r") as fi:
    final = []
    csv_list = []
    
    """
    for ln in fi:
        if (ln.startswith("beginShape") | ln.startswith("endShape")):
            id.append(ln)
        elif ln.startswith("curveVertex("):
            id.append("Temp")
            csv.append            
    """             
    for ln in fi:
        if ln.startswith("curveVertex("):
            csv_list.append(ln[12:-3])
            
print(csv_list)

['298.0,341.0', '596.0,348.0', '596.0,789.0', '7.0,791.0', '1.0,360.0']

In [372]:
df = pd.DataFrame([sub.split(",") for sub in csv_list],columns=['width','height'])
df = df.astype(float)
df.head()

   width  height
0  298.0   341.0
1  596.0   348.0
2  596.0   789.0
3    7.0   791.0
4    1.0   360.0

In [373]:
data2 = {"width":[width],"height":[height]}
shape_df = pd.DataFrame(data2) 

df_autosized = df.div(shape_df.iloc[0], axis=1).round(4)
df_autosized.head()

    width  height
0  0.4967  0.4262
1  0.9933  0.4350
2  0.9933  0.9862
3  0.0117  0.9888
4  0.0017  0.4500

In [374]:
df_autosized['final'] = "curveVertex(" + df_autosized['width'].astype(str) + " * width, " + df_autosized['height'].astype(str) + " * height);"
df_autosized.head()

    width  height                                          final
0  0.4967  0.4262  curveVertex(0.4967 * width, 0.4262 * height);
1  0.9933  0.4350   curveVertex(0.9933 * width, 0.435 * height);
2  0.9933  0.9862  curveVertex(0.9933 * width, 0.9862 * height);
3  0.0117  0.9888  curveVertex(0.0117 * width, 0.9888 * height);
4  0.0017  0.4500    curveVertex(0.0017 * width, 0.45 * height);

In [375]:
#del df_autosized['width']
#del df_autosized['height']

In [376]:
import csv
df_autosized.to_csv("resized.txt", index = False, columns=['final']
                    ,header=False
                    ,quoting=csv.QUOTE_NONE
                    ,quotechar='\"'
                    ,escapechar="\\"         
                   )